In [1]:
import seaborn as sns
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
fatalities = pd.read_csv('Construction_Fatalities__Beginning_2022.csv', index_col= 'Date Death Occurred')

In [7]:
fatalities.head()

,Business Purpose or Industry,Cause of Death,Union Status,City Death Occurred,Georeference
Date Death Occurred,,,,,
02/08/2022,Building Construction,Falls,Non-Union,Nyack,POINT (-73.918239 41.090984)
03/17/2022,Building Components,Struck by Object,Non-Union,Newburgh,POINT (-74.021352 41.500705)
04/22/2022,Building Construction,Falls,Union,Jamestown,POINT (-79.242051 42.098961)
01/24/2022,NaN,Other,NaN,New York City,POINT (-74.007228 40.713054)
03/21/2022,Renovation,Falls,Non-Union,New York City,POINT (-74.007228 40.713054)