In [1]:
import seaborn as sns
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
fatalities = pd.read_csv('Construction_Fatalities__Beginning_2022.csv', index_col= 'Date Death Occurred')

In [3]:
fatalities.head()

,Business Purpose or Industry,Cause of Death,Union Status,City Death Occurred,Georeference
Date Death Occurred,,,,,
02/08/2022,Building Construction,Falls,Non-Union,Nyack,POINT (-73.918239 41.090984)
03/17/2022,Building Components,Struck by Object,Non-Union,Newburgh,POINT (-74.021352 41.500705)
04/22/2022,Building Construction,Falls,Union,Jamestown,POINT (-79.242051 42.098961)
01/24/2022,NaN,Other,NaN,New York City,POINT (-74.007228 40.713054)
03/21/2022,Renovation,Falls,Non-Union,New York City,POINT (-74.007228 40.713054)

In [4]:
fatalities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 02/08/2022 to 02/08/2022
Data columns (total 5 columns):
Business Purpose or Industry    6 non-null object
Cause of Death                  14 non-null object
Union Status                    6 non-null object
City Death Occurred             14 non-null object
Georeference                    14 non-null object
dtypes: object(5)
memory usage: 672.0+ bytes

# EDA and Feature Engineering

In [5]:
fatalities['Cause of Death'].unique()

array(['Falls', 'Struck by Object', 'Other'], dtype=object)

In [6]:
fatalities[["Cause of Death", "City Death Occurred"]]

                       Cause of Death City Death Occurred
Date Death Occurred
02/08/2022                      Falls               Nyack
03/17/2022           Struck by Object            Newburgh
04/22/2022                      Falls           Jamestown
01/24/2022                      Other       New York City
03/21/2022                      Falls       New York City
04/06/2022                      Falls       New York City
02/11/2022                      Falls       New York City
01/24/2022           Struck by Object       New York City
04/11/2022                      Falls       New York City
04/12/2022                      Falls       New York City
04/26/2022                      Falls       New York City
03/21/2021                      Falls       New York City
04/06/2022                      Falls       New York City
02/08/2022                      Falls        White Plains

In [7]:
fatalities["Business Purpose or Industry"].fillna(method= 'ffill', inplace=True)
fatalities["Union Status"].fillna(method= 'ffill', inplace=True)

In [8]:
fatalities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 02/08/2022 to 02/08/2022
Data columns (total 5 columns):
Business Purpose or Industry    14 non-null object
Cause of Death                  14 non-null object
Union Status                    14 non-null object
City Death Occurred             14 non-null object
Georeference                    14 non-null object
dtypes: object(5)
memory usage: 672.0+ bytes

In [9]:
fatalities[["Business Purpose or Industry", "Union Status"]]

                    Business Purpose or Industry Union Status
Date Death Occurred
02/08/2022                 Building Construction    Non-Union
03/17/2022                   Building Components    Non-Union
04/22/2022                 Building Construction        Union
01/24/2022                 Building Construction        Union
03/21/2022                            Renovation    Non-Union
04/06/2022                 Building Construction    Non-Union
02/11/2022                 Building Construction    Non-Union
01/24/2022                 Building Construction    Non-Union
04/11/2022                                 Other    Non-Union
04/12/2022                                 Other    Non-Union
04/26/2022                                 Other    Non-Union
03/21/2021                                 Other    Non-Union
04/06/2022                                 Other    Non-Union
02/08/2022                                 Other    Non-Union

In [10]:
fatalities[["City Death Occurred", "Georeference"]]

                    City Death Occurred                  Georeference
Date Death Occurred
02/08/2022                        Nyack  POINT (-73.918239 41.090984)
03/17/2022                     Newburgh  POINT (-74.021352 41.500705)
04/22/2022                    Jamestown  POINT (-79.242051 42.098961)
01/24/2022                New York City  POINT (-74.007228 40.713054)
03/21/2022                New York City  POINT (-74.007228 40.713054)
04/06/2022                New York City  POINT (-74.007228 40.713054)
02/11/2022                New York City  POINT (-74.007228 40.713054)
01/24/2022                New York City  POINT (-74.007228 40.713054)
04/11/2022                New York City  POINT (-74.007228 40.713054)
04/12/2022                New York City  POINT (-74.007228 40.713054)
04/26/2022                New York City  POINT (-74.007228 40.713054)
03/21/2021                New York City  POINT (-74.007228 40.713054)
04/06/2022                New York City  POINT (-74.007228 40.713054)
02/08/2022                 White Plains  POINT (-73.766669 41.032587)